<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title><%= artist.name %></title>
</head>
<body>

  <h1><%= artist.name %></h1>
  <a href="/artists">Previous page</a>
  <p>Albums:</p>
  <ul>
    <% artist.albums.each do |album| %>
    <li>
      <a href="/albums/<%= album.id %>">
        <%= album.name %>
      </a>
    </li>
    <% end %>
  </ul>

  <h3> Add new album </h3>
  <form method="POST" action="/albums">
    <input type="hidden" name="artist_id" value="<%=artist.id%>">
    <input type="text" name="name">
  </form>
</body>
</html>
